:root {
    --white-color : #fff;
    --black-color : #000;
    --text-color : #333;

    --container-width : 1320px;
}

* {
    box-sizing: inherit;
}

html {
    /* 62.5% =) 10px =) 1rem = 10px, 1.1rem=11px;         100% = 16px*/
    font-size: 100%;    
    line-height: 1.7;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
    
}

